.file-upload-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.file-input {
  display: none;
}

.file-label {
  padding: 10px 20px;
  background-color: #f0ad4e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.file-label:hover {
  background-color: #ec971f;
} 